<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Thymeleaf</title>
</head>
<body>

<h1>Customer List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    <!--/*@thymesVar id="customers" type=""*/-->
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">123</td>
        <td th:text="${customer.firstName}">test</td>
        <td th:text="${customer.lastName}">test</td>
        <td th:text="${customer.email}">test</td>
        <td th:text="${customer.phone}">test</td>
    </tr>
</table>

</body>
</html>


